

.section{
    padding-top: 70px;
    padding-bottom: 70px;
    
}
 
.section h2.section-head{
    text-align: center;
    margin-bottom: 40px;
    color: black;
}

.section h2.section-head::after{
    background-color: #f39c12;
    content: '';
    display: block;
    width: 100px;
    height: 4px;
    margin: 20px auto;
}

#header{
    color: #fff;
    background: #f39c12;
}

#logo {
    font-size: 2rem;
    margin-top: 5px;
    text-transform: uppercase;
}

#menu {
    margin: 0;
    padding: 0;
}
#menu li{
    list-style: none;
    display: inline-block;
}
#menu li a{
    color: #fff;
    text-decoration: none;
    padding: 15px 10px;
    display: block;
}
#menu li a:hover{
    background-color: #c0392b;
}

#banner{
    background: url('../images/banner.png');
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 450px; */
}
.banner-title{
    padding-top: 5rem;
}
.banner-title h1{

    background: rgba(255,255,255, 0.8);
    display: inline-block;
    padding: 10px;
    margin: 0;
}
.banner-title p.lead{
    color: #fff;
    background: rgba(250, 165, 55, 0.548);
}
.service-box{
    text-align: center;
}
.service-box i.fa{
    color: #f39c12;
    font-size: 70px;
    margin-bottom: 15px;
}

#testimonials{
    color: #fff;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('../images/testimonials.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
    position: relative;
    /* height: 400px; */
}

/* #testimonials::before{
    background: rgba(52, 73, 94, 0.7);
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
} */
.testimonials img{
    width: 10%;
    height: 10%;
    border-radius: 100%;
    /* background-size: cover; */
}

.news-post img{
    width: 100%;
    margin-bottom: 10px;
}
.news-post h3{
    font-size: 1.35rem;
}
.news-post h3 a{
    color: #f39c12;
}

.post-date{
    font-size: 15px;
    margin-bottom: 3px;
}
.post-date i{
    color: black;
    font-size: 15px;
    margin-right: 10px;
}
.news-post a{
    text-decoration: none;
    color: #f39c12;
}
.readmore i{
    margin-left: 10px;
}

.news-post h3::first-letter{
    text-transform: uppercase;
}

#footer-sidebar{
    background: rgb(47, 40, 63);
}

.footer-widget{
    color: #fff;
    padding: 30px 0;
}

.footer-widget h3::after{
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    margin: 5px 0;
    background: #fff;
}

.latest-news {
    list-style: none;
    padding: 0;
    margin: 0;
}
.latest-news li a{
    text-decoration: none;
    padding:8px 0;
    color: #fff;

}
.latest-news li a i{
    margin-right: 10px;
}

#footer{
    color: #fff;
    background: rgb(47, 40, 63);
    padding: 10px 0; 
}

#social-icons{
    list-style: none;
    color: #fff;
    margin: 0;
    padding: 0;
}
#social-icons li {
    display: inline-block;
    margin-left: 5px;
}
#social-icons li a{
    text-decoration: none;

    color: #fff;
    font-size: 25px;
    margin-bottom: 20px;
}

@media (max-width : 992px){
    .news-post{
        margin-bottom: 30px;
    }
    .banner-title{
        font-size: 1.7rem;
    }
}

@media (max-width : 768px) {
    .section{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    #logo{
        text-align: center;
        margin: 10px 0;
    }
    #menu{
        text-align: center;
    }
    .banner-title{
        padding-top: 0;
    }
    .testimonials{
        text-align: center;
        margin-bottom: 30px;
    }
    
    .service-box{
        margin-bottom: 30px;
    }
    .footer-widget{
        margin-bottom: 5px;
    }
    /* #footer{
        text-align: center;
    }
    #social-icons{
        margin-top: 10px;
    } */
    
}

@media (max-width : 576px){
    #social-icons{
        margin-top: 10px;
    }
}